In [1]:
from collections import namedtuple

In [2]:
player = namedtuple('Hero', 'name age')

In [3]:
players = [player('Artur', 19), player('Dan', 21)]

In [4]:
players[0]

Hero(name='Artur', age=19)

In [5]:
players[0].name

'Artur'

In [6]:
pl = player('Jason', 24)
print(pl.name)
print(pl.age)

Jason
24

In [7]:
set1 = set([9, 3, 2, 1])
set1

{1, 2, 3, 9}

In [8]:
set2 = {3,5,2,5,5}
set2

{2, 3, 5}

In [9]:
print(type(set2))

<class 'set'>

In [12]:
set2.pop()
set2

{3, 5}

In [13]:
set2.pop()
set2

{5}

In [ ]:
set1.pop()
set1.pop()
set1